<p id="notice"><%= notice %></p>

<h3><%= @registration.name %>'s Events | <%= link_to "Edit URL", edit_registration_path %> | <%= link_to "Delete", registration_path, method: :delete %> </h3>

<h5>Events</h5>

<%= link_to "Add an Event", new_registration_event_path(@registration) %><br>


<% @registration.events.each do |event| %>
        <td><%= line_chart event.group_by_hour(:created_at).count %> </td>
<% end %>
